.main-container{
    background-color: rgb(7, 30, 18);
    background-image: url('/img/bg.jpg');
}


.heroIMG {
    object-fit: cover;
    height: 100vh;
}


.positionTop {
    position: sticky;
    top: 20px;
}

nav {
    background: linear-gradient(#0b2d1c80 0%, #263a1e80 25% 75%, #0b2d1c80 100%);
    backdrop-filter: blur(5px);
}

.introH1 {
    font-size: 3.1em;
}


.introP {
    font-weight: 600;
    line-height: 125%;
}
.nextEvent {
    text-align: center;
}

.homeCard {
    background: linear-gradient(#e6d8cf, #dfc7b3);
}

